name: CI/CD workflow

on: workflow_dispatch

env:
  AWS_REGION: us-east-1
  ECR_REPOSITORY: sentiment-app-onnx
  S3_BUCKET: mlops-lab11-models-jsmolka

jobs:
  integration:
    name: checks_and_tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code repo
        # This step checks out your repository code so the workflow can access it
        uses: actions/checkout@v4

      - name: Setup uv
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: uv sync --frozen --no-install-project --group integration

      - name: Check format
        run: uv run ruff format --check

      - name: Check lints
        run: uv run ruff check

      - name: Run PyTest
        run: uv run pytest
