name: CI/CD workflow

on: workflow_dispatch

env:
  AWS_REGION: us-east-1
  ECR_REPOSITORY: sentiment-app-onnx
  S3_BUCKET: mlops-lab11-models-jsmolka

jobs:
  integration:
    name: checks_and_tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code repo
        # This step checks out your repository code so the workflow can access it
        uses: actions/checkout@v4

      - name: Setup uv
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: uv sync --frozen --no-install-project --group integration

      - name: Check format
        run: uv run ruff format --check

      - name: Check lints
        run: uv run ruff check

      - name: Run PyTest
        run: uv run pytest

  deployment:
    name: deployment
    runs-on: ubuntu-latest
    needs: integration
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
        with:
          mask-password: "true"

      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup uv
        uses: astral-sh/setup-uv@v7

      - name: Install deployment dependencies
        run: uv sync --frozen --no-install-project --group deployment

      - name: Download model artifacts
        run: uv run scripts/download_artifacts.py config.yml

      - name: Export classifier
        run: uv run scripts/export_classifier_to_onnx.py config.yml

      - name: Export sentence transformer
        run: uv run scripts/export_sentence_transformer_to_onnx.py config.yml

      - name: Build and Push Docker image
        env:
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          REPOSITORY: sentiment-app-onnx
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker build -t $REPOSITORY:$IMAGE_TAG .
          docker tag $REPOSITORY:$IMAGE_TAG $REGISTRY/$REPOSITORY:$IMAGE_TAG
          docker push $REGISTRY/$REPOSITORY:$IMAGE_TAG
